ul#toolbar {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  list-style: none;
  padding: 3px;
  margin: 0;
  background-color: #ccc5;
  border-radius: 50px;
}

li.button,
li.eraser {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  transition: transform 0.2s;
  background-color: transparent;
}

li.button:hover,
li.eraser:hover {
  transform: scale(1.1);
}

li.eraser {
  background-image: url('/eraser-dark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

li.eraser.selected,
li.button.selected {
  background-color: rgba(255, 255, 255, 0.2);
}

li.button.selected::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00000044;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
